<% @invoice_histories.each do |invoice_history| %>
    <td><%= invoice_history.invoiceMonth %></td>
    <td><%= invoice_history.invoiveNumber %></td>
    <td><%= invoice_history.invoiceAmount %></td>
    <td><%= invoice_history.Paid %></td>
<% end %>