<h1 style="text-align:center">Editing Invoice History</h1>

<%= render 'form', invoice_history: @invoice_history %>

<%= link_to 'Show', @invoice_history,class:"btn btn-outline-light btn-lg px-5" %> |
<%= link_to 'Back', invoice_histories_path ,class:"btn btn-outline-light btn-lg px-5"%>
